#### This a short introduction to **pandas** , geared mainly fo new users. Now we import pandas to start to learn it.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

See the Data Structure Intro section
Creating a Series by passing a list of values,letting pandas creat a default integer index:

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [7]:
dates = pd.date_range('20180101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2018-01-01 -0.840597 -0.364514 -0.737647  0.019685
2018-01-02 -1.014953 -1.459139  1.410124 -0.121841
2018-01-03  0.556677 -1.617502 -0.617182 -0.460126
2018-01-04  0.169431 -0.560528  1.109798 -0.699618
2018-01-05  0.402327 -3.152853 -0.533862 -0.404513
2018-01-06 -0.180791 -1.739108  0.678315 -0.929690

Creating a *DataFrame* by passing a dict of objects that can be converted to series-like.

In [12]:
df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train'])})
df2

   A          B    C  D      E
0  1 2013-01-02  1.0  3   test
1  1 2013-01-02  1.0  3  train
2  1 2013-01-02  1.0  3   test
3  1 2013-01-02  1.0  3  train